.root {
    -fx-background-color: #474747;

}

.list-view {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #7a7a7a;
    -fx-text-fill: white;
}

.text-area {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #333333;
    -fx-text-fill: #b0b0b0;
}

.content {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: #333333;
}
.scroll-pane {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}
.scroll-bar {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: #474747;
}

.viewport {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.list-cell:focused {
    -fx-background-color: #474747;
    -fx-text-fill: white;
}
.list-cell:selected {
    -fx-text-fill: white;
}
.list-cell:cell-selection {
    -fx-text-fill: white;
}
.list-cell:hover {
    -fx-text-fill: white;
}

.list-cell {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: #7a7a7a;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #7a7a7a;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-text-fill: black;
}
.button:hover{
    -fx-background-color: #333333;
}



